@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './team.css';
@import './tags.css';

/* @import './volt.css';  DONT UNCOMMENT THIS, VOLT IS IMPORTED USING Sass */

html {
    overflow-y: scroll;

}

.clientReserve {
    width: 100%;
}

#mainBody {
    margin-left: 10rem;
    margin-right: 10rem;
}

html,
body {

    overflow-x: hidden;
}

#script-body ol,
#script-body ul {
    list-style: revert !important;
    margin: revert !important;
    padding: revert !important;
}

ClientBox {
    width: 80%;
}

#navigation {
    font-family: "Nunito", "sans-serif";
    font-size: large;
}

#AccTypeTeleButton {
    padding-top: 9px;
    padding-bottom: 9px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .07);
    width: 12.5rem;
    border-color: #d1d5db
}

#AccTypeCommButton {
    padding-top: 9px;
    padding-bottom: 9px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .07);
    width: 12.5rem;
    border-color: #d1d5db;
}

#MrButton {
    padding-top: 9px;
    padding-bottom: 9px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .07);
    width: 100%;
    border-color: #d1d5db
}

#MmeButton {
    padding-top: 9px;
    padding-bottom: 9px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .07);
    width: 100%;
    border-color: #d1d5db;
}

#FilterByTeleButton {
    padding-top: 9px;
    padding-bottom: 9px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .07);
    width: 12.5rem;
    border-color: #d1d5db
}

#FilterByCommButton {
    padding-top: 9px;
    padding-bottom: 9px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .07);
    width: 12.5rem;
    border-color: #d1d5db;
}

#logOutButton:hover {
    border-style: solid;
    border-radius: 0.2rem;
    border-color: #eeeff0;
    background-color: #f4f5f7;
}

#navProfile:hover {
    border-style: solid;
    width: auto;
    border-radius: 0.1rem;
    border-color: #eeeff0;
    background-color: #f4f5f7;
}

#EditButton:hover {
    border-style: solid;
    width: 3.7rem;
    border-radius: 0.1rem;
    border-color: #eeeff0;
    background-color: #dedede;
}

#DelProdButton:hover {
    border-style: solid;
    border-radius: 0.1rem;
    border-color: #eeeff0;
    background-color: #dedede;
}

#accTypeSelector {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .07);
    border-radius: .5rem;
    width: 100%;
    box-shadow: rgba(156, 156, 156, 0.2) 0px 2px 8px 0px;

}

.search-bar {
    background: rgb(225, 222, 237);
    border-radius: 2rem;
    padding: 0.6rem 1rem;
}

.search-bar input[type="search"] {
    background: transparent;
    width: 30vw;
    color: rgb(36, 30, 56);
}

.search-bar input[type="search"]:placeholder {
    color: rgb(158, 152, 179);
}

#teamSearch,
#productSearch {
    border-color: #d1d5db;
    border-radius: .5rem;
    height: 100%;
}

#AccTypeRadio {
    visibility: hidden !important;
    display: none !important;
}

#AddMemberInfo {
    padding-top: 0rem !important;
    height: 66rem !important;
    display: block !important;
}

.popup {
    display: none;
    position: fixed;
    padding: 10px;
    width: 280px;
    left: 50%;
    margin-left: -150px;
    height: 180px;
    top: 50%;
    margin-top: -100px;
    background: #FFF;
    z-index: 20;
}

#saveCall {
    width: 8rem;
    height: 2.5rem;
    background-color: #f0bc74;
    color: white;
    border: .0rem solid #d1d5db;
}

#saveCall:disabled,
#saveCall[disabled=disabled] {
    background-color: #cccccc;
    color: #666666;
}

#modifyProductPopup:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -2;
}

#modifyProductPopup:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #FFF;
    z-index: -1;
}

.client-picture-rounded {
    width: 110px;
    height: 110px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.75rem;
    margin-bottom: 1rem;
    -webkit-border-radius: 60px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 60px;
    -moz-background-clip: padding;
    border-radius: 50%;
    background-clip: padding-box;
    background-size: cover;
    background-position: center center;
}
