@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './clients.css';
@import url("https://fonts.googleapis.com/css?family=Nunito:600");
/* @import './volt.css'; */

/* html {
    margin-left: 1rem;
    margin-right: 1rem;
} */
#mainBody {
    margin-left: 10rem;
    margin-right: 10rem;
}

#navigation {
    font-family: "Nunito", "sans-serif";
    font-size: large;
    /* font-weight: 200; */
}

#AccTypeTeleButton {
    padding-top: 9px;
    padding-bottom: 9px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .07);
    width: 12.5rem;
    border-color: #d1d5db
}

#AccTypeCommButton {
    padding-top: 9px;
    padding-bottom: 9px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .07);
    width: 12.5rem;
    border-color: #d1d5db;
}

/* #AccTypeTeleButton:hover {
    background-color: #374151;
    color: #FFFF;
}

#AccTypeCommButton:hover {
    background-color: #374151;
    color: #FFFF;
} */

#accTypeSelector {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .07);
    border-radius: .5rem;
    box-shadow: rgba(156, 156, 156, 0.2) 0px 2px 8px 0px;

}


#teamSearch {
    border-color: #d1d5db;
    border-radius: .5rem;
    border-bottom-left-radius: 0rem;
    border-top-left-radius: 0rem;
    /* padding-top: 10px; */
    height: 100%;
}

#teamSearch:focus {
    /* border-color: #19212c; */

    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(17, 24, 39, .075), 0 0 0 .18rem rgba(65, 73, 85, .5);
}

#AccTypeRadio {
    visibility: hidden !important;
    display: none !important;
}

#AddMemberInfo {
    padding-top: 0rem !important;
    height: 66rem !important;
    display: block !important;
}


/*
#TeRad {
    display: inline !important;
    visibility: hidden !important;
     display: none !important; 
    list-style: none !important;
    opacity: 0 !important;
} */